<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <link href="/favicon.png" rel="icon">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/lib/jquery-1.9.1.js"></script>
  <script src="/javascripts/lib/underscore-1.4.4.js"></script>
  <script src="/javascripts/lib/backbone-1.0.js"></script>
  <script src="/javascripts/lib/handlebars-1.0.0rc3.js"></script>
  <script src="/javascripts/lib/d3.v3.js"></script>
</head>
<body>
